<head>
  <title>score-keeper</title>
  <meta name="viewport" content="with=device-width, initial-scale=1"/>
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
</head>

<body>
  <div id="container"></div>
</body>