// VARIABLES

$green: #e4ede0;
$green-dark: darken($green, 15%);

$blue: #dfe7ed;
$blue-dark: darken($blue, 15%);

$red: #eddfdf;
$red-dark: darken($red, 15%);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:before, &:after {
        box-sizing: inherit;
    }
}
  
html {
    font-size: 62.5%;
}
  
body {
    background: #f2f2f2;
    font-family: 'Rubik', Helvetica, sans-serif;
    color: #555555;
    font-size: 1.6rem;

}

@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';