.button {
    background: transparent;
    border: 1px solid #666666;
    cursor: pointer;
    color: #666666;
    font-weight: 600;
    line-height: 1;
    margin-left: 1.3rem;
    outline: none;
    padding: 1.3rem;
    transition: .2s ease, transform .2s ease;

    &:hover, &:focus {
        background: #e8e8e8;
    }

    &:active {
        background: #cccccc;
        transform: scale(1.1);        
    }
}


.button--round {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}