.item {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-bottom: 1.3rem;
    padding: 1.3rem;
}

.item--position-1 {
    background-color: $green;
    border: 1px solid $green-dark;
}

.item--position-2 {
    background-color: $blue;
    border: 1px solid $blue-dark;
}

.item--position-3 {
    background-color: $red;
    border: 1px solid $red-dark;
}

.item__message {
    text-align: center;
    font-style: italic;
    font-weight: 700;
    font-size: 1.4rem;
}