.player {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.player__name {
    font-weight: 300;
    font-size: 1.8rem;
    width: 28.1rem;
    height: auto;
}

.player__stats {
    font-weight: 300;
    font-size: 1.3rem;
    font-style: italic;
}

.player__actions {
    flex-shrink: 0;
}