.header-bar {
    color: #ffffff;
    background: #e95353;
}

.title {
    padding-bottom: 1rem;
}

.subtitle {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 100;
    letter-spacing: .2rem;
}